<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Font.Awesome" version="5.15.4" targetFramework="net48" />
  <package id="FontAwesome.Sharp" version="6.1.1" targetFramework="net48" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.Winforms" version="140.340.80" targetFramework="net48" />
  <package id="Microsoft.SqlServer.Types" version="14.0.314.76" targetFramework="net48" />
</packages>